# 文字化け防止用

[mysqld]
character-set-server=utf8mb4

[mariadb-client]
default-character-set=utf8mb4


# 以下のエラーが出る場合
# mysqld: [Warning] World-writable config file '/etc/mysql/conf.d/my.cnf' is ignored.
# 
# 一度以下のコマンドを実行する。
# docker-compose run db chmod 644 /etc/mysql/conf.d/my.cnf
