.main-title {
  font-weight: bold;
}

.sub-title {
  font-size: 12px;
}
.main-name {
  font-size: 42px;
  font-weight: bold;
}

.sub-name {
  font-size: 14px;
}

.history-title {
  font-size: 18px;
  font-weight: bold;
  background-color: lightgrey;
}

.tweet-button {
  display: flex;
  align-items: center;
  width: 98px;
  height: 28px;
  color: #fff !important;
  background: #1d9bf0;
  text-decoration: none;
  font-size: 13px;
  border-radius: 14px;
}

.tweet-button span {
  margin-left: 5px;
}

.tweet-button img {
  width: 17px;
  height: 13px;
  margin-left: 12px;
}

.tweet-button:hover {
  background: #0c7abf;
}
